.form-control, .form-control:focus, .dropdown-item:hover {
    background: #343a40 !important;
    color: white !important;
}

.dropdown-menu, .dropdown-item, .rbt-highlight-text{
    background: #343a40 !important;
    color: white !important;
}

.rbt-input-hint{
    color: rgba(255,255,255,0.15) !important;
}